//colors

$header-background: #fff
$green: #52C41A
$green-gray: #a5bb9a

$article-bg: #fff

//text

$text-color-black: rgba(0, 0, 0, 0.85)
$text-title-color: #1890FF
$text-color-gray: rgba(0, 0, 0, 0.5)
$tags-border-color: rgba(0, 0, 0, 0.5)
$text-date-color: rgba(0, 0, 0, 0.5)
