@import '../../sass/variables'

.base
    background-color: transparent
    margin: 0
    padding: 6px 18px 10px
    font-size: 18px
    line-height: 28px
    color: $text-color-black
    cursor: pointer
    border: none
    border-radius: 5px
    margin-right: 20px
    &:last-child
        margin-right: 0
    &:active
        background-color: #ccc
    &:disabled
        background-color: $text-color-sing-in
        cursor: auto

.wide
    width: 100%

.half-wide
    max-width: 100%
    min-width: 319px

.wide-padding
    padding: 8px 36px

.margin-bottom
    margin-bottom: 8px

.margin-right
    margin-right: 27px

.margin-right-small
    margin-right: 17px

.green
    border-color: $green
    color: $green
    &:active
        background-color: $green-gray

.red
    border-color: $red
    color: $red
    &:active
        background-color: $red-gray

.blue
    border-color: $blue
    background-color: $blue
    color: $text-color-white
    &:active
        background-color: $blue-gray

.text-blue
    color: $blue

.outlined
    border-width: 1px
    border-style: solid
    background-color: transparent

.small
    padding: 6px 10px
    font-size: 14px
    line-height: 22px
