@import '../../sass/variables'

.base
    background-color: transparent
    margin: 0
    padding: 6px 18px 10px
    font-size: 18px
    line-height: 28px
    color: $text-color-black
    cursor: pointer
    border: none
    border-radius: 5px
    margin-right: 20px
    position: relative
    &:active
        padding-bottom: 8px
        border-color: #000
        border-top-width: 2px
        border-top-style: solid

    &:focus
        outline: 1px solid rgba(0, 0, 0, 0.5)
        outline-offset: -3px
        outline-style: auto
    &:disabled
        background-color: $text-color-sing-in
        cursor: auto

.wide
    width: 100%

.half-wide
    max-width: 100%
    min-width: 319px

.wide-padding
    padding: 8px 36px

.margin-bottom
    margin-bottom: 8px

.margin-right
    margin-right: 27px

.margin-right-small
    margin-right: 17px

.green
    border-color: $green
    color: $green
    &:active
        border-color: $green

.red
    border-color: $red
    color: $red
    &:active
        border-color: $red

.blue
    border-color: $blue
    background-color: $blue
    color: $text-color-white
    &:active
        border-color: $blue

.text-blue
    color: $blue

.outlined
    border-width: 1px
    border-style: solid
    background-color: transparent

.small
    padding: 6px 10px
    font-size: 14px
    line-height: 22px
